#nav_panel {
    /* location */
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    /* size */
    justify-self: stretch;
    align-self: stretch;
    margin: 1rem;
    padding: 2rem;

    /* layout for nav-list */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    justify-content: center;
    align-content: center;

    overflow: hidden;
}


#nav_list {
    /* location */
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    /* size */
    width: 1fr;
    height: 1fr;

    /* layout for nav btns */
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    row-gap: 1rem;

    justify-content: center;
    align-content: start;

    overflow-y: auto;
    scrollbar-width: none;
}


.nav_btn {
    /* size */
    justify-self: center;
    align-self: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    font-size: 4rem;

    /* layout for text */
    text-justify: center;
    text-align: center;
    line-height: 1;
}
